.section {
    padding: 20px 0;
    margin: 30px 20px 30px 20px;
    background-color: rgb(177, 175, 175);
    border-radius: 20px;
    box-shadow: 20px 20px 16px -5px rgb(184, 182, 184);
}
.section__header {
    color: rgb(156, 17, 63);
    font-style: oblique;
    text-shadow: 1px 2px 5px rgb(85, 82, 82);
    text-align: center;
}

.section__paragraph {
    text-align: center;
    margin: 20px 0;
    line-height: 1.3;
}
.section__paragraph--name {
    color: rgb(156, 17, 63);
    font-size: 20px;
    font-weight: bold;
}

.section__caption {
    caption-side: top;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgb(85, 82, 82);
    color: rgb(51, 49, 49);
}

.section__table {
    background-color: rgb(233, 231, 231);
    border-collapse: collapse;
    width: 100%;
}

.section__tableHeader {
    background-color: rgb(153, 49, 84);
    color: rgb(233, 231, 231);
    font-weight: normal;
}

.section__tableCell {
    border: 1px solid rgb(119, 8, 45);
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.section__tableRow:nth-child(even) {
    background-color: rgb(197, 191, 191);
}

.section__tableRow:hover {
    background-color: rgb(172, 169, 169);
}

.section__tableContainer {
    overflow-x: auto;
}