html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}
.body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(233, 231, 231);
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
