.table {
    background-color: rgb(233, 231, 231);
    border-collapse: collapse;
    width: 100%;
}
.table__caption {
    caption-side: top;
    margin: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px 2px 5px rgb(85, 82, 82);
    color: rgb(51, 49, 49);
}
.table__cell {
    border: 1px solid rgb(119, 8, 45);
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}

.table__cell--header {
    background-color: rgb(153, 49, 84);
    color: rgb(233, 231, 231);
    font-weight: normal;
}
.table__row:nth-child(even) {
    background-color: rgb(197, 191, 191);
}

.table__row:hover {
    background-color: rgb(172, 169, 169);
}
